/*
===================================
    list view
===================================*/

.new-arrival-content {
    .item {
        font-size: 0.75rem;
        color: $dark;
    }
    h4 {
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
		line-height:1;
		a{
			color: #000;
		}
    }
    .price {
        font-weight: 600;
        color: $primary;
        font-size: 1.5rem;
        margin-bottom: 0;
		float: right;
		@include custommq($min: 1200px, $max: 1600px) {
			font-size: 0.938rem;
		}
		@include respond ('phone'){
			float:none;
			margin-top:0.625rem;
			font-size: 0.938rem;
		}
    }
	.discount{
		font-size: 0.875rem;
		margin-right: 0.5rem;
		opacity: 0.8;
		color: $danger;
	}
	.price-sm{
		font-size: 1rem;
		color: var(--primary);
		font-weight:600;
		
	}
    p {
        font-size: 0.87rem;
        color: $d-ctl;
        margin-bottom: 0.37rem;
        line-height: 1.5rem;
    }
    .text-content {
        //margin-top: 1.125rem;
    }
}
.new-arrival-content.text-center .price {
	float: unset!important;
}
.success-icon {
    color: $success;
    font-size: 1rem;
}
.comment-review {
	margin-bottom: 0.938rem;
    display: table;
    width: 100%;
    .client-review {
        color: $d-ctl;
        padding-right: 1.25rem;
        text-decoration: underline !important;
        font-size: 0.87rem;
    }
    .span {
        color: $d-ctl;
        font-size: 0.87rem;
    }
	@include respond ('phone'){
		margin-bottom:0;
	}
}

.star-rating li {
    display: inline-block;
    i {
        color: gold;
		&.grey{
			color: rgba(128,128,128,0.5);
		}
    }
}
