////////////////
// Compact Nav
////////////////

@media (min-width:47.9375rem) {
    [data-sidebar-style="compact"] {


		--dz-sidebar-width : 11rem;
		--dz-side-nav-padding : 1rem 0.5rem;
		--dz-side-nav-size : 0.9375rem;
		--dz-side-info : none;
		--dz-side-copyright : block;
		--dz-side-sub_nav-padding : .5rem 0.5rem;
		--dz-side-sub_nav-size : 0.85rem;
		
		.nav-header {
			.nav-control {
				display: none;
			}
		}
		.header{
			.nav-control{
				display: none;
			}
			.header-content{
				padding-#{$dz-pos-left}: 2rem;
			}
			
		}
        .deznav {
            .header-profile2{
				&>a.nav-link{
					text-align: center;
				}
			}
        
            .metismenu {
			
                li {
                    text-align: center;
                    a {
						svg{
						
							max-width: 1.3125rem;
							max-height: 1.3125rem;
							display: block;
							margin-left: auto;
							margin-right: auto;	
						}
						i{
							@include transitionMedium;
						}
						
						&:before{
							content: "";
							height: 4.68rem;
							width: 0;
							position: absolute;
							left: 0;
							top: 50%;
							transform:translatey(-50%);
							background: black;
							border-radius:0 $radius $radius 0;
							@include transitionMedium;
						}
                    }
					ul:after{
						content:none;
					}
					
					&.mm-active,
					&:hover{
						& > a{
							background: -moz-linear-gradient(left,  rgba(224,224,228,1) 0%, rgba(125,185,232,0) 100%); 
							background: -webkit-linear-gradient(left,  rgba(224,224,228,1) 0%,rgba(125,185,232,0) 100%); 
							background: linear-gradient(to right,  rgba(224,224,228,1) 0%,rgba(125,185,232,0) 100%); 
							
							&:before{
								width:0.625rem;
							}
						}
					}
                }
            }
			
			.header-info2{
				justify-content: center;
				padding : .35rem;
				display: inline-flex!important;
				img{
					margin-#{$dz-pos-right}: 0;
				}
			}
			.sidebar-info{
				display:none!important;	
			}
			.badge{
				margin-left:2px!important;
			}
        }

		
        .nav-text {
            display: inline-block;
            margin-top: 0.3125rem;
        }

        .nav-label {
            &.first{
                display: none;
            }
        }

        .nav-badge{
            display: none;
        }

		&[data-layout="vertical"]{
			.deznav {
				.metismenu {
					 & > li {
						&:hover,
						&.mm-active{
							&>a i{
								//background:var(--rgba-primary-1);
								color: black;
							}
						}	
						&>a{
							&:after{
								content:none;
							}
						}
					 }
				}	
				.dropdown-menu .dropdown-item{
					font-size: .85rem;
					padding: 0.5rem 1.2rem;
				}
			}
		}
    }
}

[data-layout="vertical"][data-sidebar-style="compact"] {

	--dz-side-ico-height : 3.2rem;
	--dz-side-ico-width : 3.2rem;
	--dz-side-nav-size : 0.875rem;

    .deznav {
        .metismenu {
		
            ul{
				margin-#{$dz-pos-left}:0;
				border:0;
				background: rgba(0,0,0,0.02);
				padding: 0.625rem 0;

				a{
					&:before{
						content:none;
					}
				}
				
            }

            &>li {
				&>a{
					i{
						font-size:1.87rem;
						
					}
					.badge-xs{
						&.style-1{
							margin-#{$dz-pos-left}:0;
						}
					}
					& > i{
						margin-right: auto;
						margin-left: auto;
						display: flex;
						align-items: center;
						justify-content: center;
						//background: var(--body-bg);
						border-radius: 0.5rem;
					}
				}
                &>a.has-arrow::after {
                    top: 0.0625rem;
					display: inline-block;
					#{$dz-pos-right}: auto;
					margin-#{$dz-pos-left}: 0.3125rem;
					position: relative;
					width: 0.4375rem;
					height: 0.4375rem;
					border-width: 0.125rem 0rem 0rem 0.125rem;
					
                }
            }
        }

    }
}
