


.footer {
    padding-left: 11.18rem;
    background-color: $body-bg;
    
    .copyright {
        padding: 0.9375rem;
        p {
            text-align: center;
            margin: 0;
        }

        a{
            color: $primary;
        }
    }
}


@media only screen and (min-width: 768px){
	[data-sidebar-style="mini"] .footer {
		padding-left: 6.2rem;
	}
}